body
{
	font-family: Lato;
}

div
{
	border: 0px;
	margin: 0px;
}

div.enTete
{
	margin: 16px;
}

div.titre
{
	color: #1F1F00;
	font-size: 200%;
}

div.nom
{
	color: #1F1F00;
	font-size: 200%;
}

div.section
{
	margin: 16px;
	position: relative;
}

div.audessus
{
	border: 1px solid #1F1F00;
	padding: 8px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

div.titresection
{
	position: absolute;
	color: #BFBFFF;
	font-size: 400%;
	z-index: -1;
	text-align: center;
	left: 0px;
	right: 0px;
	width: 100%;
	top: 0px;
}

.titresection:after
{
	/* http://stackoverflow.com/questions/8005447/cross-browser-text-gradient-in-pure-css-without-using-background-image */
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	height: 50%;
	left: 0;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background:    -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background:     -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background:      -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background:         linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

td.categorie
{
	padding-right: 24px;
}

.afftemps
{
	position: absolute;
	width: 0.5em;
	background: #DFDFFF;
	/*background: radial-gradient(rgba(255, 255, 255, .25), rgba(0, 0, 255, .25));*/
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-radius: 0.5em;
}

.projet:hover .afftemps
{
	background: #BFBFDF;
}

.jonction
{
	fill: rgba(0, 0, 255, 0.125);
}

.projet:hover .jonction, .jonctionHover
{
	fill: #BFBFDF;
}

/*- Marqués et marqueurs -----------------------------------------------------*/

.marque
{
	position: relative;
	white-space: nowrap; /* Le marqueur étant placé "au centre" de la marque, si cette dernière est multiligne ça nous ennuie car le placement paraîtra curieux. */
	font-weight: bold;
}

.centre-marqueur
{
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	z-index: -1;
}

.marqueur
{
	position: absolute;
	display: inline-block;
	left: -1em;
	width: 2em;
	top: -1em;
	height: 2em;
	border-radius: 1em;
	background: rgba(0, 0, 255, 0.125);
}

.marqueurSecondaire
{
	left: -.5em;
	width: 1em;
	top: -.5em;
	height: 1em;
	border-radius: .5em;
}

/*- Le reste -----------------------------------------------------------------*/

div.dateexp
{
	font-size: 75%;
}

.titreexp h3
{
	display: inline;
}

div.titreexp
{
	font-style: bold;
}

div.descrexp
{
	display: inline;
	font-style: italic;
}

div.exp
{
	margin-left: 24px;
}

div.delair
{
	margin: 16px;
}

div.soussection
{
	margin-top: 24px;
	margin-bottom: 12px;
	font-size: 150%;
}

div.paraindependant
{
	margin: 16px;
}

img
{
	border: none;
}
